<section class="single-post-container">
<article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/post/{{id}}">{{post.title}}</a>
      </h2>
      <div>
        Posted by {{post.user.username}} on {{format_date post.created_at}}
      </div>
    </div>
    <div class="card-body">
     {{post.content}}
    </div>
  </article>

{{#if loggedIn}}
<div class="comment-container">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">
    <div class="form-row">
        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input  form-control" />
    </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{> comments post.comments}}

</section>

{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
{{/if}}